@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
/* For screens less than 1025px */
@media (max-height: 1024px) {
  .main-container {
    flex-direction: column;
  }

  .box3 {
    order: 1;
    width: 100%;
  }

  .box1 {
    order: 2;
    width: 100%;
  }
}

@media (max-width: 1025px) {
  .video-item img {
    width: 140px;
    height: 105px;
  }

  .video-container {
    gap: 40px; /* Increase gap between video items */
  }
}
